body {
    background-color: white;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#lightBulb {
    width: 280px;
    height: auto;
    transition: opacity 0.5s ease;
}

#lightSwitch {
    transition: background-color 0.5s ease;
}

button {
    display: block;
    padding: .6em 1em;
    font-size: 2em;
    border: none;
    margin: auto;
    border-radius: .2em;

    &:active {
        background-color: lightblue;

    }
}